@model CreditCardAppMvc.DTOs.CreditCardApplicationDto

<h3 class="text-primary mb-4">Apply Credit Card</h3>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>PAN Number</label>
        <input asp-for="PAN" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Date Of Birth</label>
        <input asp-for="DOB" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Annual Income</label>
        <input asp-for="AnnualIncome" class="form-control" />
    </div>

    <button class="btn btn-primary">Apply</button>

</form>