<h2 class="text-primary mb-4">User Dashboard</h2>

<div class="row">

    <div class="col-md-4">

        <div class="card shadow text-center">
            <div class="card-body">

                <h5>Apply Credit Card</h5>

                <a href="/User/Apply" class="btn btn-primary mt-3">
                    Apply
                </a>

            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow text-center">
            <div class="card-body">

                <h5>My Applications</h5>

                <a href="/User/Applications" class="btn btn-primary mt-3">
                    View
                </a>

            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow text-center">
            <div class="card-body">

                <h5>Logout</h5>

                <a href="/Auth/Login" class="btn btn-danger mt-3">
                    Logout
                </a>

            </div>
        </div>

    </div>

</div>